[submodule "TOOLS/Animated Sprites SetUp/Resized/GifToSpritesheet"]
	path = TOOLS/Animated Sprites SetUp/Resized/GifToSpritesheet
	url = https://github.com/Sedatb23/GifToSpritesheet.git

[submodule "Pokemon Unity/Assets/UnityGameFramework"]
	path = Pokemon Unity/Assets/GameFramework
	url = https://github.com/herbertmilhomme/UnityGameFramework.git

[submodule "GameFramework"]
	path = GameFramework
	url = https://github.com/herbertmilhomme/GameFramework.git